{% extends "base.html" %}

{% block content %}

    <h2 class="h2-label">Добавить</h2>
    <div class="row">
          <form enctype="multipart/form-data" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=100) }}
        </p>
              <p>
            {{ form.image_url.label }}<br>
            {{ form.image_url(size=100) }}
        </p>
              <p>
            {{ form.youtube_url.label }}<br>
            {{ form.youtube_url(size=100) }}
        </p>

        <p>
            <input type="submit" value="Добавить">
        </p>


    </form>
    </div>

{% endblock %}