{% extends "base.html" %}

{% block content %}

    <h2 class="h2-label">Добавить</h2>
    <div class="row">
        <form enctype="multipart/form-data" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.fio.label }}<br>
                {{ form.fio(size=100) }}
            </p>
            <p>
                {{ form.avatar.label }}<br>
                <input type="file" name="avatar">

            </p>

            <p>
                <input type="submit" value="Добавить">
            </p>


        </form>
    </div>

{% endblock %}