{% extends "base.html" %}

{% block content %}
    <h2 class="h2-label">Технология</h2>
    <img src="/static/img/technology.png" style="display:block;margin:auto;">
    <h2 class="h2-label">Преимущества</h2>
    <div class="row">
        <div class="col-lg-4">
            <h3>Универсальность</h3>
            <p>Подходит для всех типов помещений и видов напольных покрытий</p>
        </div>

        <div class="col-lg-4">
            <h3>Долгий срок службы</h3>
            <p>Обладает максимально длительным сроком службы</p>
        </div>

        <div class="col-lg-4">
            <h3>Технологичность</h3>
            <p>Выполняется по новейшей технологии, обеспечивающей высокую скорость </p>
        </div>
    </div>
    <h2 class="h2-label">Наши работы</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top"
                     alt="Thumbnail [100%x225]"
                     style="height: 225px; width: 100%; display: block;"
                     src="/static/img/content/work1.jpg"
                     data-holder-rendered="true">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top"
                     alt="Thumbnail [100%x225]"
                     src="/static/img/content/work2.jpg"
                     data-holder-rendered="true"
                     style="height: 225px; width: 100%; display: block;">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top"
                     alt="Thumbnail [100%x225]"
                     style="height: 225px; width: 100%; display: block;"
                     src="/static/img/content/work1.jpg"
                     data-holder-rendered="true">
            </div>
        </div>
    </div>
    <h2 class="h2-label">Наша команда</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top"
                     alt="Thumbnail [100%x225]"
                     style="height: 225px; width: 100%; display: block;"
                     src="/static/img/content/work1.jpg"
                     data-holder-rendered="true">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top"
                     alt="Thumbnail [100%x225]"
                     src="/static/img/content/work2.jpg"
                     data-holder-rendered="true"
                     style="height: 225px; width: 100%; display: block;">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top"
                     alt="Thumbnail [100%x225]"
                     style="height: 225px; width: 100%; display: block;"
                     src="/static/img/content/work1.jpg"
                     data-holder-rendered="true">
            </div>
        </div>
    </div>

{% endblock %}