{% extends "testbase.html" %}

{% block content %}
    <div class="container">
    <div class="row">

        <div class="col-xs-4 col-lg-4" style="background-color: blue;">
            .col-xs-2
            <p>Ну тут строка</p>
            <p>Ну тут строка</p>
            <p>Ну тут строка</p>
        </div>

        <div class="col-xs-4 col-lg-4" style="background-color: green;">
            .col-xs-4
            <p>Ну тут строка</p>
            <p>Ну тут строка</p>
            <p>Ну тут строка</p>
            <p>Ну тут строка</p>
            <p>Ну тут строка</p>
            <p>Ну тут строка</p>
        </div>

        <div class="col-xs-4 col-lg-2" style="background-color: blue;">
            .col-xs-6
                        <p>Ну тут строка</p>
            <p>Ну тут строка</p>
            <p>Ну тут строка</p>
                        <p>Ну тут строка</p>
            <p>Ну тут строка</p>
            <p>Ну тут строка</p>
                        <p>Ну тут строка</p>
            <p>Ну тут строка</p>
            <p>Ну тут строка</p>
        </div>

    </div>
    </div>
    <h1>TestPage</h1>

{% endblock %}