{% extends "base.html" %}

{% block content %}

    <h2 class="h2-label">Наши работы</h2>
    <div class="row">
        {% for work in works %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top"
                     alt="{{ work.title }}"
                     style="height: 225px; width: 100%; display: block;"
                     src="{{ work.image_url }}"
                     data-holder-rendered="true">
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}